@theme {
	--font-sans : 'Inter', 'sans-serif';
	--font-heading: 'Poppins', 'sans-serif';

	--color-primary: #1e3a8a;
	--color-secondary: #1e40af;
	--color-accent: #3b82f6;
	--color-dark: #1e293b;
	--color-light: #f8fafc;

}